@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 69% 31%;
    grid-template-rows: 505px;
}

.logo {
    background-color: #e9eae2;
    background-image: url(../img/img.webp);
    background-image: url(../img/img.png);
    background-position: -50px 10px;
    background-repeat: no-repeat;
}

.logo_img {
    padding: 50px 0 0 140px;
}

.logo_text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 19px;
    padding-left: 140px;
    line-height: 20px;
}

.logo_smm {
    padding: 60px 0 0 165px;
}

.logo_smm img {
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: #7acec3;
    background-image: url(../img/line.png);
}

.burger {
    width: 120px;
    height: 120px;
    border: 3px solid #fff;
    margin: 50px auto;
}

.address {
    width: 100px;
    height: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 80px;
}

.contact {
    margin: 70px auto;
}

.contact a {
    display: block;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.projects {
    display: grid;
    grid-template-columns: 31% 38% 31%;
    grid-template-rows: 499px 466px;
}

.project_menu {
    margin-top: 150px;
    margin-left: 80px;
}

.project_menu li {
    list-style: none;
    line-height: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.project_menu li:hover::before {
    content: url(../img/arrow\ icon.png);
}

.project_menu li:before {
    position: absolute;
    left: 80px;
}

#active::before {
    content: url(../img/arrow\ icon.png);
}

#active a {
    color: #000;
}

.project_menu a {
    text-decoration: none;
    color: #fff;
}

.project_menu a:hover {
    color: #000;
}

.project_title {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    margin-top: 80px;
    margin-left: 200px;
}


.first_projects {
    background-color: #ebb240;
    background-image: url(../img/line.png);

}

.fondue {
    background-color: #fefefe;
    background-image: url(../img/fondu.png);
    background-position: -50px 0;
    background-repeat: no-repeat;
}

.projects_aside {
    display: grid;
    grid-template-rows: 250px 465px 250px;
    height: 965px;
}

.potter {
    background-color: #dfe0d9;
}

.tabano {
    background-color: #f7f7f3;
}

.fiji {
    background-color: #fff;
}

.project_row {
    display: grid;
    grid-template-columns: 64.5% 158.5%;
}

.louis {
    background-color: #576d78;
}

.chear {
    background-color: #eaeaea;
}

.project_row_buttom {
    display: grid;
    grid-template-columns: 49% 20% 31%;
    grid-template-rows: 300px;
}

.sesann {
    background-color: #fcfcfc;
}

.alessi {
    background-color: #cecece;
}

.timeline {
    background-color: #ebb240;
}

.studio {
    display: grid;
    grid-template-columns: 31% 69%;
    grid-template-rows: 500px 390px;
}

.first_studio {
    background-color: #ff9b6d;
}

.awords {
    background-color: #e9eae2;
}

.staff {
    background-color: #e9eae2;
}

.designer {
    background-color: #e9eae2;
}

.news {
    display: grid;
    grid-template-columns: 31% 69%;
    grid-template-rows: 495px;
}

.first_news {
    background-color: #d4edbf;
}

.news_content {
    background-color: #e5e9df;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 640px;
}

.map {
    background-color: #c0c1ba;
}

.footer_content {
    background-color: #e9eae2;
}


@media (max-width: 480px) {
    .grid {
        display: block;
        height: 200px;
    }
}